In [0]:
import pandas as pd

In [0]:
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz",lines=True)

In [48]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [52]:
print(data.reviewText[0])

I bought my first HP12C in about 1984 or so, and it served me faithfully until 2002 when I lost it while travelling.  I searched for another one to replace it, but found one difficult to come by in my area.  So, I decided to buy up and purchased an HP 49G.  What a mistake!  I know that many people view the HP 49G (now 49G+) as the flagship of the HP line, but for me that was a disaster.The 49G may be powerful, but using it is extremely counterintuitive...and the manual was sketchy at best.  The 12C, on the other hand, does what I need in a way that makes good sense to me.If you are looking for a solid, reliable calculator, the HP12C may be for you.  It's programmable.  It does basic statistics well, and many business applications too.  The manual makes sense; you will be up and running in short order.I'm ready to set my 49G aside and move back to my old friend.  I didn't even have to replace the batteries in well over a decade of use!HP 12C, I'm coming home!

In [0]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

In [0]:
data["reviewTextCount"] = data.reviewText.apply(word_count)

In [63]:
data.reviewTextCount

0        {'I': 7, 'bought': 1, 'my': 4, 'first': 1, 'HP...
1        {'WHY': 1, 'THIS': 2, 'BELATED': 1, 'REVIEW?':...
2        {'I': 2, 'have': 2, 'an': 2, 'HP': 3, '48GX': ...
3        {'I've': 4, 'started': 1, 'doing': 2, 'more': ...
4        {'For': 1, 'simple': 1, 'calculations': 2, 'an...
                               ...
53253    {'What': 1, 'I': 1, 'like': 1, 'about': 1, 'th...
53254    {'This': 1, 'Accuteck': 2, 'ShipPro': 2, 'digi...
53255    {'I': 6, 'ship': 1, 'a': 10, 'lot': 1, 'of': 7...
53256    {'This': 1, 'is': 4, 'a': 5, 'great': 2, 'litt...
53257    {'When': 1, 'asked': 1, 'to': 9, 'review': 1, ...
Name: reviewTextCount, Length: 53258, dtype: object

In [0]:
data["summaryCount"] = data.summary.apply(word_count)

In [65]:
data.summaryCount

0        {'A': 1, 'solid': 1, 'performer,': 1, 'and': 1...
1        {'Price': 1, 'of': 1, 'GOLD': 1, 'is': 1, 'up,...
2        {'Good': 1, 'functionality,': 1, 'but': 1, 'no...
3        {'One': 1, 'of': 2, 'the': 1, 'last': 1, 'an':...
4                        {'Still': 1, 'the': 1, 'best': 1}
                               ...
53253    {'Portable': 1, 'and': 1, 'very': 1, 'easy': 1...
53254    {'Accuteck': 1, 'ShipPro': 1, 'Digital': 1, 'P...
53255    {'Extremely': 1, 'accurate,': 1, 'foolproof': ...
53256     {'Fast,': 1, 'Easy': 1, 'and': 1, 'Accurate': 1}
53257    {'Great': 1, 'Value': 1, 'on': 1, 'a': 1, 'Goo...
Name: summaryCount, Length: 53258, dtype: object